{% extends "base.html" %}
{% load static %}

{% block title %}تنظیم رمز عبور جدید{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-4 has-text-centered">تنظیم رمز عبور جدید</h2>

    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="field mt-4">
          <button type="submit" class="button is-success is-fullwidth">
            ذخیره رمز عبور جدید
          </button>
        </div>
      </form>
    {% else %}
      <p class="has-text-danger has-text-centered">
        لینک بازیابی معتبر نیست یا قبلاً استفاده شده است.
      </p>
    {% endif %}
  </div>
</section>
{% endblock %}
