{% extends "base.html" %}
{% block title %}درگاه شبیه‌ساز{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-4">درگاه شبیه‌ساز پرداخت</h1>
    <p>سفارش: <strong>{{ order.number }}</strong></p>
    <p>مبلغ: <strong>{{ payment.amount }} {{ payment.currency }}</strong></p>

    <div class="buttons mt-5">
      <a href="{% url 'payments:success' order_number=order.number %}" class="button is-success">
        پرداخت موفق
      </a>
      <a href="{% url 'payments:failed' order_number=order.number %}" class="button is-danger">
        پرداخت ناموفق
      </a>
      <a href="{% url 'payments:checkout' order_number=order.number %}" class="button">
        لغو و بازگشت
      </a>
    </div>
  </div>
</section>
{% endblock %}
